
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}




.font-1{
    font-weight:400px;
    font-size: 22px;

}
.font-2{
  font-size: 50px;
  font-weight: bold;
  
}
.font-3{
  font-size: 40px;
  font-weight: bold;
}
.prm-color{
    color: rgba(0, 0, 0, 0.5);
}
.second-color{
    color: rgba(255, 255, 255, 1);
}
.third-color{
    color: rgba(233, 90, 8, 1);
}
.logo-1{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 71px;
    padding-right: 150px;

    
}
.logo{
    padding-left: 150px;
}
.nav-group-1{
    display: flex;
    justify-content: space-around;
    width: 410px;
    padding: auto 0px;
    align-items: center;
    padding-left:0px;
    border: 2px solid red;
    /* text-decoration: none; */
}
.group{
    text-decoration: none;
}
.nav-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner{
    display: flex;
    height: 461px;
     width: 1140px;
    margin:120px 150px;
    border: 2px solid green;
    /* padding left:150px; */
    
}

.banner-title{
    width:500px;
    /* height: 178px; */
    border: 2px solid yellow;
    /* margin-left: 150px; */
}
.banner-description{
    width:500px;
    /* height: 108px; */
     border: 2px solid blue;
}
.banner-image{
    width: 570px;
    height: 355px;
    border: 2px solid blue;
     margin-right: 150px;
    
}
.our-plants{
width: 1140px;
height:138px;
margin-left: 150px;
}



.banner-container{
    width: 500px;
    height: 299px;
    
}
.our-plant-title{
  text-align: center;
}
.our-plant-description{
  text-align: center;
}
.cards-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin-left: 150px;
  margin-right: 150px;

}
.plant-name{
  text-align: center;
}
.plant-price{
  text-align: center;
}
.prm-btn{
  width: 270px;
  height: 50px;
  background-color: rgba(233, 90, 8, 1);
  color: rgba(255, 255, 255, 1);
}
.plants-lover{
  display: flex;
  width: 1140px;
  height: 597px;
 margin: 0px 150px;
}
.plants-store-img{
  width: 540px;
}
.plants-lover-container{
  margin: 30px 0px 30px 60px;
  border: 1px solid black;
}
.plants-lover-title{
   height: 137px;
  
   border: 1px solid red;
   margin: 0px;
}
.badge-img{
  width: 286px;
  height: 286px;
  border: 2px solid yellow;
  position: relative;
  top: 150px;
  left: 500px;
}

.latest-deal{
  max-width: 100%;
  height: 138px;
}

.latest-deal-title{
  text-align: center;
}
.latest-deal-description{
  text-align: center;
}
/* .card-layout{
  display: flex;
 border: 2px solid black;
 margin-left: 150px;
 margin-right: 150px;
 position: relative;

 
} */

.card-layout{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 20px;
  margin-left: 150px;
  margin-right: 150px;
  position: relative;
}
.card-layout .card-layout-1-description {
  position:absolute;
  bottom:70%;
 right : 78%;
  color:white;
  border: 1px solid black;
  text-align: center;
  
}
.card-layout-2-description{
position:absolute;
bottom: 20%;
right: 78%;
color: white;
text-align: center;
}
.card-layout-3-description{
  position:absolute;
  bottom: 45%;
  right:25%;
  color: white;
  text-align: center;
}
  .card-image-1,.card-image-2, .card-image-3{
   border-radius: 14px;
    

  }

  .link-1{
    align-items: center;
  }


.link-color{
  color: white;
  text-align: center;
}

.mail-siction{
  background-image: url(assets/news-letter-bg.png);
  width: 1440px;
  height: 533px;
}
.mail-section-title{
  
  text-align: center;
  
  
  padding-top:190px;
 color: rgba(255, 255, 255, 1);
 

}
.mail{
  width: 644px;
  height: 50px;
  font-size: 16px;
  
  
}
.second-btn{
  width: 186px;
  height: 52px;
  background-color: rgba(233, 90, 8, 1);
  color: white;
  font-size: 16px;
  font-weight:600px;
  border: none;

}
.mail-about{
  display: flex;
  
  padding-left: 20%;
  margin:0px;
}
.footer-about{
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 348px;
  margin-top: 50px;
 
}
.footer-about-container{
  margin-left: 150px;
  margin-top: 10px;

}

.footer-link-container-1,.footer-link-container-2{
  margin-top: 20px;
   column-gap: 30px;

}
.footer-link{
  
color: rgba(107, 114, 128, 1);
text-decoration: none;
font-size: 16px;

}
.footer-images{
  margin-right: 150px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
  
  
}


/* Responsive */
@media  screen and (max-width: 576px) {
  .group {
    margin: 0px;
    
  }
  .nav-group-1{
    display: none;
  }

  .logo-1{
    width: 361px;
    justify-content: space-between;
    
    padding:0px;
    margin:10px 15px;
  }
  .logo{
    padding:0px;
  }
  .banner{
    flex-direction: column-reverse;
    border: 3px solid red;
    margin-top: 30px;
    width: 361px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .banner-image{
    padding-top:170px;
    width: 500px;
    height:245px;
    margin-right: 0px;
    
  }
  .banner-container{
    width: 361px;
    height: 147px;
   
  }
  .our-plants{
    width: 393px;
    height: 117px;
    bottom: 1px solid red;
    margin: auto;

  }
  .cards-container{
display: grid;
grid-template-columns: repeat(2,1fr);
margin: auto;
  }
  .plants-lover{
    flex-direction: column;
  }
  .badge-img{
    display: none;
  }
  .card-layout{
    
    grid-template-columns: repeat(1,1fr);
    width: auto;
    margin: auto;
  }
  .card-layout-1{
     display: grid;
    grid-template-columns: repeat(1,1fr);
    width: auto;
  }
  .card-image-3,.card-image-2,.card-image-1{
    width: 100%;
  }
  
  .latest-deal{
    margin-top:60% ;
  }
  .mail-siction{
    width:100%;
    /* margin-right:10%; */
   
  }
  .mail-about{
    padding-left:15%;
    padding-right: auto;
     width: 218px; 
     

  }
  .mail-section-title{
    font-size: 20px;
    text-align: center;
  }


  

  .footer-about{
    flex-direction: column;
    margin-left: 10px;
  }
  .footer-about-container{
    margin-left: 0px;
  }
}